.cart {
  display: flex;
  margin: 30px;
  border: 1px solid cadetblue;

  cursor: pointer;
}

.cart__content {
  display: flex;
  align-items: center;
}
.carts h1 {
  text-align: center;
  margin-top: 80px;
  font-size: xx-large;
  font-style: oblique;
  color: darkblue;
}

.cart > Button {
  height: 40px;
  background-color: darkgoldenrod;
  margin-top: 10px;
  display: flex;
  align-items: center;

  opacity: 0;
}

.cart:hover > button {
  opacity: 100%;
  cursor: pointer;
  box-shadow: darkcyan 50px;
}
