.cart {
  display: flex;
  margin: 30px;
}

.cart__content {
  display: flex;
  align-items: center;
}
.carts h1 {
  text-align: center;
  margin-top: 80px;
  font-size: xx-large;
  font-style: oblique;
  color: darkblue;
}
