.product {
  width: 250px;
}

.product:hover {
  background-color: lightcyan;
}
.product__image {
  height: 250px;
}
.product__detail {
  display: flex;
  margin: 10px;
}

.product__detail > h2 {
  font-size: 18px;
}

.product__detailPrice {
  margin-left: 30px;
}
.product__addButton {
  background-color: darkgoldenrod;
  margin-left: 160px;
  border: none;
  height: 35px;
  display: flex;
  opacity: 0;
  align-items: center;
}

.product:hover button {
  cursor: pointer;
  box-shadow: darkcyan 50px;
  opacity: 1;
}
