.product {
  border: 2px solid lightskyblue;
  width: 250px;
}
.product__image {
  height: 250px;
}
.product__detail {
  display: flex;
  margin: 10px;
}

.product__detail > h2 {
  font-size: 18px;
}

.product__detailPrice {
  margin-left: 30px;
}
